@tailwind base;
@tailwind components;
@tailwind utilities;

/* أي CSS إضافي عام */
body {
  margin: 0;
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s; /* لتبديل Dark/Light بسلاسة */
}